<!DOCTYPE html>
<html lang="en">
<head>
<style>
body { 
       background-image:
 url('https://imageio.forbes.com/specials-images/imageserve/5d3703b3090f4300070d570d/2020-Cadillac-CT5/0x0.jpg?format=jpg&crop=4842,2723,x288,y538,safe&width=960');
background-repeat: no-repeat;
 background-color: red;
  background-attachment: fixed;
  background-size: 100% 100%;

 }
</style>
  <title>Home | IBM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .nav.navbar-nav{
   margin-left: 75px;
   }
   .navbar-brand{
    font-size: 22px;
   }
   .footer{
  overflow: hidden;
  background-color: lightgreen;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
   }


  </style>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>Intelligent Vehicle Damage Assessment and Cost Estimator for Insurance Companies</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="login.html">Login</a></li>
      <li><a href="register.html">Register</a></li>
      <li><a href="PREDICITION.html">Prediction</a></li>
    </ul>
  </div>
</nav><br><br><br><br>

<div class="container">
 <center> 
    <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: white;">PROJECT DESCRIPTION</h2>
  <h3 style="font-family:'Franklin Gothic low', 'Arial Narrow', Arial, sans-serif;color: lightblue;"> Vehicle Damage Detection is used to reduce claims leakage during insurance processing.Vechile Inspectin and validation are usually done.As it takes a long time,because a person need to come and Inspect Damage.Here we are trying to Automate the procedure .Using this Automation we can avoid time consumption for Insurance claim procedure</h3>

    <a style="color:white;
              padding: 22px;
              background-color: black;
              opacity: 85%;
              border-radius: 12px;
              margin-left: 25px;
              margin-bottom: -20px;" href="https://www.facebook.com" class="fa fa-facebook"></a>
    <a style="color:white;
              padding: 20px;
              background-color: black;
              opacity: 85%;
              border-radius: 12px;
              margin-left: 25px;
              margin-bottom: -20px;" href="https://www.twitter.com" class="fa fa-twitter"></a>
    <a style="color:white;
              padding: 20px;
              background-color: black;
              opacity: 85%;
              border-radius: 12px;
              margin-left: 25px;
              margin-bottom: -20px;" href="https://www.linkedin.com" class="fa fa-linkedin"></a>
    <a style="color:white;
              padding: 20px;
              background-color: black;
              opacity: 85%;
              border-radius: 12px;
              margin-left: 25px;
              margin-bottom: -20px;" href="https://www.instagram.com" class="fa fa-instagram"></a>
            
 </center>
</div>
<div class="footer">
    <p style="color:white;
            background-color: black;
              margin-top: 20px;
              text-align: center;"><b>
              COPYRIGHT @ 2022,ALL RIGHTS RESERVED</b>
    </p>
    
  </div>
  


</body>
</html>
Footer
© 2022 GitHub, Inc.
Footer navigation

    Terms
    Privacy
    Security
    Status
    Docs
    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

